body {
    margin: 0;
    padding: 0;
}
.main-container {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 10px;
    max-width: 1200px;
    
}

header.header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 120px;
    height: 180px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.wa-icon {
    width: 16px;
    height: 16px;
}